@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  box-sizing: border-box;
  background: #5C07E2;
}

 /* Делаю 320*568 */

div {
  margin: 10vh 10vw;
  width: 80vw;
  height: 80vh;
  background: white;
}
p {
  color: #ff0000;
  font-family: Roboto;
  font-weight: 900;
  font-size: 620%;
  line-height: 107%;
  padding-top: 130%;
}
.h {
  top: 30vh;
  left: 10vw;
  position: fixed;
  width: 80vw;
}
.head_1 {
  position: absolute;
  top: 5%;
  left: -20%;
  transform: rotate(30deg);
}
.head_2 {
  position: absolute;
  top: 80vh;
  left: -100%;
  transform: rotate(-15deg);
}
.head_3 {
  position: absolute;
  top: 190vh;
  left: -55%;
  transform: rotate(20deg);
}
