@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  box-sizing: border-box;
  background: #5C07E2;
}

 /* Делаю 320*568 */

main {
  width: 100vw;
  height: 300vh;
}
div {
  margin: 120px 70px;
}
p {
  color: #ff0000;
  font-family: Roboto;
  font-weight: 900;
  font-size: 30px;
  line-height: 107%;
}
